<div class="container">
    <nav class="navBar">
        <button type="button" class="link" (click)="actionChart('bar')">bar</button>
        <button type="button" class="link" (click)="actionChart('line')">line</button>
        <button type="button" class="link" (click)="actionChart('doughnut')">doughnut</button>
    </nav>
    <main class="main">
        <div class="chart-item chart">
            <app-chart [data]="data" [label]="label" [title]="'test'" [type]="type"></app-chart>
        </div>
        <div class="chart-zoom chart">
            <app-chart-zoom [data]="data" [label]="label" [title]="'test'" [type]="type"></app-chart-zoom>
        </div>
    </main>
    <footer class="footer">
        <p class="copyright">created by hamza el ghazouani © 2023</p>
    </footer>
</div>