
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: unset;
    color: inherit;
    outline: unset;
    box-sizing: border-box;
    font-family: var(--f-main);
}

:root{
    --f-main: 'Roboto', sans-serif;
    --f-lora:  'Lora', serif;
}
